!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i", :rel => "stylesheet"}/
    / Use the title from a page's frontmatter if it has one
    %title
      Rémy Rigault#{' - ' + current_article.title unless current_article.nil?}
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    %link{:href => "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "site"
    :css
      /* .work-banner:before {
        background-image: url('../../images/articles/#{current_article.data.thumbnail}');
      } */
  %body
    = partial "partials/header"
    = partial "partials/preload"

    .work-banner.mt-80
      .container
        .row
          .col-sm-6
            -# %img.img-responsive{:alt => "", :src => image_path("images/articles/#{current_article.data.thumbnail}")}/
            %h1.mt-0.mb-0
              = current_article.title
          .col-sm-6
            %ul.list-inline.list-tags.pull-right
              - current_article.tags.each do |tag|
                %li.text-uppercase= tag

    .work-body.mb-60
      .container
        .row
          .col-md-8.mt-60
            %img.img-responsive{:alt => "", :src => image_path("articles/#{current_article.data.image}")}/

          .col-md-4.work-body-inner.mt-60
            = yield

    = partial "partials/footer"
    = javascript_include_tag "site"
    :javascript
      $(document).ready(function() {
        $(".work-body-inner strong").addClass("text-uppercase");
        $(".work-body-inner ul").addClass("list-inline");
        $(".work-body-inner img").height(30);
      });
