!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i", :rel => "stylesheet"}/
    / Use the title from a page's frontmatter if it has one
    %title
      Rémy Rigault - Portfolio#{' - ' + current_article.title unless current_article.nil?}
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    %link{:href => "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "site"
    = stylesheet_link_tag "work"
    / Global site tag (gtag.js) - Google Analytics
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-118045796-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118045796-1');

  %body
    = partial "partials/header"
    = partial "partials/preload"

    .work-body.mb-60
      .container
        .row

          .col-md-12.work-img
            -# %img.img-responsive{:src => "https://picsum.photos/2240/600?image=0"}
            - if current_article.data.cover != nil
              %img.img-responsive.m-a{:src => "#{current_article.data.cover}"}
            - else
              %img.img-responsive.m-a{:src => "#{current_article.data.thumbnail}"}

        .row
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
            .row.work-tools

              .col-sm-6.col-xs-8

                %ul.list-inline.list-tags
                  - current_article.tags.each do |tag|
                    %li.text-uppercase{:class => "#{tag}"}= tag

                %h1.mt-0
                  = current_article.title

                %ul.list-inline.list-tools
                  - if current_article.data.tools != nil
                    - current_article.data.tools.each do |tool|
                      %li.tool{:class => "#{tool}"}= tool
                  - else
                    %p no tools

              .col-sm-6.col-xs-4
                %p.text-right
                  - if current_article.data.link != nil
                    %a.link.btn.btn-link.btn-show.btn-show.text-uppercase{:href => "#{current_article.data.link}"} Aperçu

        .row

          .col-md-12.work-body-inner

            = yield

            - if current_article.data.video != nil
              %hr  
              %h2 Vidéo
              .embed-responsive.embed-responsive-16by9
                %iframe.embed-responsive-item{:src => "#{current_article.data.video}"}

    = partial "partials/footer"
    = javascript_include_tag "site"
    = javascript_include_tag "work"
