!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i", :rel => "stylesheet"}/
    / Use the title from a page's frontmatter if it has one
    %title
      Blog Title#{' - ' + current_article.title unless current_article.nil?}
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    %link{:href => "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  %body
    = partial "partials/header"

    .container-fluid
      .row#slide

      .row.description
        .col-md-12.pt-30.pb-30.pl-60.pr-60
          %h1.text-uppercase{:style => "font-weight: 700;"}
            Designer UX/UI
            %br
            Developer Web Front End


    .container
      .row
        = yield
      .row
        %h2 Recent Articles
        %ol
          - blog.articles[0...10].each do |article|
            %li
              = link_to article.title, article
              %span= article.date.strftime('%b %e')
        %h2 Tags
        %ol
          - blog.tags.each do |tag, articles|
            %li= link_to "#{tag} (#{articles.size})", tag_path(tag)
        %h2 By Year
        %ol
          - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
            %li= link_to "#{year} (#{articles.size})", blog_year_path(year)

    = partial "partials/footer"
