---

pageable: false
per_page: 6

---

.particles-transition
.particles
  #particles-js

.home
  .container
    .row
      .col-md-12
        %h1.text-uppercase.author
          Rémy Rigault
    .clearfix
    .row.description
      .col-md-5
        %p.text-uppercase.post.mb-30
          %strong
            Designer UX/UI
          -# %br
          -# Developer Web Front End
      .col-md-6
        .paragraph.white
          %p Jeune Designer basé en Hauts-de-Seine, j'ai suivi un premier cursus dans l'édition numérique et spécialisé par la suite dans la conception et le développement web.
          %p
            J'aime croire que l'on peut tout designer quel que soit le type de média.
            -# Ma philosophie :
            -# %em.text-underline Le design, c'est comme la barre de fer, on peut tout faire.

          %p Constamment à la recherche de nouvelles opportunités, n'hésitez pas à me contacter pour me faire partager un projet.
          %p.mt-30.mb-30
            %a.btn.btn-link.link.text-uppercase.btn-lg.white{:href => "/contact"} Me contacter
    .clearfix
    .row.localisation
      .col-md-3.col-md-offset-9
        %p.map
          %span.fa.fa-map-signs.mr-5.mb-10
          Châtenay-Malabry, France
        %ul.list-inline.icons-social.ml-0
          %li
            %a{:href => "https://github.com/remix37"}
              %span.fa.fa-github
          %li
            %a{:href => "https://www.linkedin.com/in/remyrigault"}
              %span.fa.fa-linkedin
          %li
            %a{:href => "https://twitter.com/remyrigault"}
              %span.fa.fa-twitter


    .clearfix
    .row.scroll
      .col-xs-2.col-xs-offset-5.height-100
        %a{:href => "#AboutMe"}
          %img.img-responsive.icon-scroll{:src => image_path('images/home/scroll.png'), :srcset => " #{image_path('images/home/scroll@2x.png')} 2x, #{image_path('images/home/scroll.png')} 1x"}/
      -# .col-xs-5.height-100
      -#   %ul.list-inline{:style => "bottom: 30px; position: absolute; right: 30px;"}
      -#     %li
      -#       %span.fa.fa-linkedin
      -#     %li
      -#       %span.fa.fa-dribbble

.about-me#AboutMe
  .about-me-inner
    .container
      .row
        .col-md-8.pt-30.pb-30{:style => "background: #FFF;"}
          %h2.hideme À propos de moi
          %p Passionné depuis toujours par le design et la nouvelle technologie, je me suis autoformé pour être le plus compétent dans trois domaines : le print, le web et le multimédia.
          %p Après 4 ans d'expérience en entreprise, j'ai acquis une vision transversale de tout type de projet, éditorial et digital.
          .row.hideme
            .col-sm-6.mt-30.mb-30
              %img{:src => image_path('icons/brand_icon.png'), :srcset => " #{image_path('icons/brand_icon@2x.png')} 2x, #{image_path('icons/brand_icon.png')} 1x"}/
              %h3 Communication visuelle
              %ul
                %li Analyse concurrencielle, benchmark,
                %li Identité visuelle, charte graphique,
                %li Déclinaison sur différents types de support.

            .col-sm-6.mt-30.mb-30
              %img{:src => image_path('icons/edition_icon.png'), :srcset => " #{image_path('icons/edition_icon@2x.png')} 2x, #{image_path('icons/edition_icon.png')} 1x"}/
              %h3 Édition
              %ul
                %li Chemin de fer,
                %li Illustrations, mise en page,
                %li Digital publishing.

          .row.hideme
            .col-sm-6.mt-30.mb-30
              %img{:src => image_path('icons/web-design_icon.png'), :srcset => " #{image_path('icons/web-design_icon@2x.png')} 2x, #{image_path('icons/web-design_icon.png')} 1x"}/
              %h3 Web design
              %ul
                %li Wireframing, prototypage,
                %li Design UI,
                %li Livraison des assets.

            .col-sm-6.mt-30.mb-30
              %img{:src => image_path('icons/motion-design_icon.png'), :srcset => " #{image_path('icons/motion-design_icon@2x.png')} 2x, #{image_path('icons/motion-design_icon.png')} 1x"}/
              %h3 Vidéo et animation
              %ul
                %li Storyboarding, script,
                %li Dérushage, montage vidéo, étalonnage,
                %li Motion design.

          .row.hideme
            .col-sm-12.mt-30.mb-30
              %img{:src => image_path('icons/coding_icon.png'), :srcset => " #{image_path('icons/coding_icon@2x.png')} 2x, #{image_path('icons/coding_icon.png')} 1x"}/
              %h3 Développement web
              %ul
                %li Intégration web,
                %li Versioning, tests d'intégration, maintenance,
                %li Mise en place d'un environnement admin.

          -# %a.btn.btn-link.link.text-uppercase.btn-lg{:href => "/about-me"} En savoir plus

  .container
    .row.pt-30.pb-30
      .col-md-12
        %h2.hideme Mes réalisations

        .row
          - page_articles.each_with_index do |article|
            .col-sm-6.col-md-4.mb-30
              .card
                = link_to article do
                  %img.img-responsive{:alt => "", :src => image_path("#{article.data.thumbnail}")}/
                  .card-inner
                    %h3= article.title
                    %span.btn.btn-link.link-work.text-uppercase Voir plus
        .row
          .col-md-12
            %a.btn.btn-link.link.text-uppercase.btn-lg{:href => "/all-works"} Voir d'autres réalisations
