---

pageable: false
per_page: 6

---

.particles.pt-80
  #particles-js

.home
  .container
    .row
      .col-md-12
        %h1.text-uppercase.author
          Rémy Rigault
    .clearfix
    .row.description.pt-60.pb-60
      .col-md-5
        %p.text-uppercase.post.hideme
          %strong
            Designer UX/UI
          -# %br
          -# Developer Web Front End
      .col-md-6
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac magna mi. Duis eget consequat turpis. Morbi consequat lectus sed enim tempus cursus quis sed mauris.
        %p Vestibulum ac lectus at metus sollicitudin scelerisque. Nam eget vestibulum elit. Cras vestibulum tortor ut tincidunt sodales. Nullam vestibulum pretium tortor ac ultricies. Proin lectus sapien, sodales sed lectus eget, ullamcorper elementum mi. In euismod tempus velit, eget malesuada mi varius tristique.
    .clearfix
    .row.scroll
      .col-xs-2.col-xs-offset-5.height-100
        %a{:href => "#AboutMe"}
          %img.img-responsive.icon-scroll{:src => image_path('images/home/scroll.png'), :srcset => " #{image_path('images/home/scroll@2x.png')} 2x, #{image_path('images/home/scroll.png')} 1x"}/
      .col-xs-5.height-100
        %ul.list-inline{:style => "bottom: 30px; position: absolute; right: 30px;"}
          %li
            %span.fa.fa-linkedin
          %li
            %span.fa.fa-dribbble

.about-me#AboutMe
  .container
    .row.pt-30.pb-30
      .col-md-7
        %h2.hideme À propos de moi
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .row.hideme
          .col-md-6.mt-30
            %img{:src => image_path('icons/brand_icon.png'), :srcset => " #{image_path('icons/brand_icon@2x.png')} 2x, #{image_path('icons/brand_icon.png')} 1x"}/
            %h3 Identité visuelle
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
          .col-md-6.mt-30
            %img{:src => image_path('icons/web-design_icon.png'), :srcset => " #{image_path('icons/web-design_icon@2x.png')} 2x, #{image_path('icons/web-design_icon.png')} 1x"}/
            %h3 Web design
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
          .clearfix
          .col-md-6.mt-30
            %img{:src => image_path('icons/motion-design_icon.png'), :srcset => " #{image_path('icons/motion-design_icon@2x.png')} 2x, #{image_path('icons/motion-design_icon.png')} 1x"}/
            %h3 Motion design
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
          .col-md-6.mt-30
            %img{:src => image_path('icons/coding_icon.png'), :srcset => " #{image_path('icons/coding_icon@2x.png')} 2x, #{image_path('icons/coding_icon.png')} 1x"}/
            %h3 Développement web
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.

  .container
    .row.pt-30.pb-30
      .col-md-12
        %h2.hideme Mes réalisations

        .row
          .col-md-12
            %ul.list-inline
              - blog.tags.each do |tag, articles|
                %li
                  = link_to "#{tag} (#{articles.size})", tag_path(tag), :class => "link btn btn-link text-uppercase"

        .row
          - page_articles.each_with_index do |article, i|
            .col-sm-4.mb-30
              .block
                = link_to article do
                  %img.img-responsive{:alt => "", :src => image_path("images/articles/#{article.data.thumbnail}")}/
                  .block-inner
                    %h3= article.title
                    %span.btn.btn-link.link-work.text-uppercase Voir plus
